<ng-container *ngIf="isActive; else nameOnly">
    <h3 [innerHTML]="question.name_html"></h3>

    <form *ngIf="form"
          [formGroup]="form"
          (ngSubmit)="submitAnswer()">


        <mat-radio-group *ngIf="!isMultipleAnswers"
                         formControlName="options">
            <div *ngFor="let option of question.question_options;">

                <mat-radio-button [value]="option.id">
                    <span [innerHTML]="option.name_html"></span>
                </mat-radio-button>
            </div>
        </mat-radio-group>

        <ng-container *ngIf="isMultipleAnswers"
                      formGroupName="options">
            <div *ngFor="let option of question.question_options;">
                <mat-checkbox [formControlName]="option.id">
                    <span [innerHTML]="option.name_html"></span>
                </mat-checkbox>
            </div>
        </ng-container>

        <button mat-flat-button
                color="primary"
                type="submit">Answer</button>
    </form>
</ng-container>

<ng-template #nameOnly>
    <app-bubble>
        <span [innerHTML]="question.name_html"></span>
    </app-bubble>
</ng-template>
